2022/06/23

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [5]:
df1 = pd.read_csv("VDS_구간통행속도_1일_1개월_202101.csv", encoding='cp949') 
df2 = pd.read_csv("VDS_구간통행속도_1일_1개월_202102.csv", encoding='cp949') 
df3 = pd.read_csv("VDS_구간통행속도_1일_1개월_202103.csv", encoding='cp949') 
df4 = pd.read_csv("VDS_구간통행속도_1일_1개월_202104.csv", encoding='cp949')
df5 = pd.read_csv("VDS_구간통행속도_1일_1개월_202105.csv", encoding='cp949')
df6 = pd.read_csv("VDS_구간통행속도_1일_1개월_202106.csv", encoding='cp949')
df7 = pd.read_csv("VDS_구간통행속도_1일_1개월_202107.csv", encoding='cp949')
df8 = pd.read_csv("VDS_구간통행속도_1일_1개월_202108.csv", encoding='cp949') 
df9 = pd.read_csv("VDS_구간통행속도_1일_1개월_202109.csv", encoding='cp949')
df10 = pd.read_csv("VDS_구간통행속도_1일_1개월_202110.csv", encoding='cp949')
df11 = pd.read_csv("VDS_구간통행속도_1일_1개월_202111.csv", encoding='cp949') 
df12 = pd.read_csv("VDS_구간통행속도_1일_1개월_202112.csv", encoding='cp949')

In [6]:
df1.head(2)

       집계일자        콘존ID  차로유형구분코드   평균속도  Unnamed: 4
0  20210101  0010CZE010         1  86.40         NaN
1  20210101  0010CZE011         1  92.85         NaN

In [7]:
df1.shape

(43271, 5)

## concat 함수로 테이블 합쳐줌

In [18]:
df = pd.concat([df1,df2,df3,df4,df5,df6,df7,df8,df9,df10,df11,df12])

In [19]:
df.shape

(523468, 5)

## 전처리 (빈칸인 열 삭제)

평균속도 결측값 0으로로 되어 있음 삭제시켜줌

In [20]:
mask = df['평균속도'].isin([0])

In [21]:
df100 = df[~mask]
df100 = df100.reset_index(drop=True)
df100

            집계일자        콘존ID  차로유형구분코드   평균속도  Unnamed: 4
0       20210101  0010CZE010         1  86.40         NaN
1       20210101  0010CZE011         1  92.85         NaN
2       20210101  0010CZE030         1  95.53         NaN
3       20210101  0010CZE035         1  95.84         NaN
4       20210101  0010CZE040         1  97.83         NaN
...          ...         ...       ...    ...         ...
489486  20211231  6000CZS040         1  87.33         NaN
489487  20211231  6000CZS050         1  96.62         NaN
489488  20211231  6000CZS060         1  86.97         NaN
489489  20211231  6000CZS080         1  99.58         NaN
489490  20211231  6000CZS090         1  84.66         NaN

[489491 rows x 5 columns]

In [22]:
df100 = df100.drop(columns=['Unnamed: 4'])

In [23]:
df100.tail(3)

            집계일자        콘존ID  차로유형구분코드   평균속도
489488  20211231  6000CZS060         1  86.97
489489  20211231  6000CZS080         1  99.58
489490  20211231  6000CZS090         1  84.66

## 집계일자 월_일로 문자열인덱싱

In [24]:
df100.dtypes

집계일자          int64
콘존ID         object
차로유형구분코드      int64
평균속도        float64
dtype: object

In [25]:
df100 = df100.astype({'집계일자':'object'})

In [26]:
df100['월/일'] = df100['집계일자'].astype(str).str[4:] # 그냥 .str 붙여주면 에러 남.
df100['월'] = df100['월/일'].astype(str).str[:2]
df100

            집계일자        콘존ID  차로유형구분코드   평균속도   월/일   월
0       20210101  0010CZE010         1  86.40  0101  01
1       20210101  0010CZE011         1  92.85  0101  01
2       20210101  0010CZE030         1  95.53  0101  01
3       20210101  0010CZE035         1  95.84  0101  01
4       20210101  0010CZE040         1  97.83  0101  01
...          ...         ...       ...    ...   ...  ..
489486  20211231  6000CZS040         1  87.33  1231  12
489487  20211231  6000CZS050         1  96.62  1231  12
489488  20211231  6000CZS060         1  86.97  1231  12
489489  20211231  6000CZS080         1  99.58  1231  12
489490  20211231  6000CZS090         1  84.66  1231  12

[489491 rows x 6 columns]

## 콘존ID 별 월별 평균 교통량 구해줌

In [30]:
mont = df100.groupby(["월",'콘존ID']).agg({'평균속도':"mean"})
mont

                     평균속도
월  콘존ID
01 0010CZE010   85.760323
   0010CZE011   91.705484
   0010CZE030   95.490645
   0010CZE035   91.923871
   0010CZE040   93.059355
...                   ...
12 6000CZS040   87.331290
   6000CZS050   96.746129
   6000CZS060   87.465806
   6000CZS080  101.226774
   6000CZS090   88.805484

[15876 rows x 1 columns]

In [33]:
mont.to_excel('mont.xlsx')
ttt = pd.read_excel("mont.xlsx")
ttt = ttt.fillna(method='ffill') #
ttt

          월        콘존ID        평균속도
0       1.0  0010CZE010   85.760323
1       1.0  0010CZE011   91.705484
2       1.0  0010CZE030   95.490645
3       1.0  0010CZE035   91.923871
4       1.0  0010CZE040   93.059355
...     ...         ...         ...
15871  12.0  6000CZS040   87.331290
15872  12.0  6000CZS050   96.746129
15873  12.0  6000CZS060   87.465806
15874  12.0  6000CZS080  101.226774
15875  12.0  6000CZS090   88.805484

[15876 rows x 3 columns]

In [34]:
ttt.isnull().sum()

월       0
콘존ID    0
평균속도    0
dtype: int64

In [35]:
ttt.to_csv('월별구간평균속도_최종.csv',index=False)